.text-shadow{
    text-shadow: 0 1px 2px #000;
}

.text-shadow-md{
    text-shadow: 0 2px 5px #000;
}

.text-shadow-lg{
    text-shadow: 0 3px 10px #111;
}

h2 {
    scroll-margin-top: 100px;
    scroll-snap-margin-top: 100px;
}

@media (max-width: 576px){
	html, body{
    	overflow-x: hidden;
	}
}